{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>InversaCalc</h1>
    <p class="lead">
        InversaCalc es una aplicacion web creada para ayudarte a
        comprender y calcular las hipotecas inversas. Su objetivo es
        proporcionar informacion clara y opciones para aquellos interesados
        en liberar el valor de su vivienda sin venderla.
    </p>
    <p><a href="https://github.com/Rostin-M/LENGUAJES-DE-PROGRAMACION-Y-CODIGO-LIMPIO-2024-1.git" class="btn btn-primary btn-large">Consulta el codigo fuente aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hipoteca Inversa Vitalicia</h2>
        <p>
            Con la hipoteca inversa vitalicia, buscas una solucion
            que te proporcione ingresos regulares de por vida,
            manteniendo la propiedad de tu casa
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hipoteca Inversa Temporal</h2>
        <p>
            La hipoteca inversa temporal te ofrece pagos
            por un periodo especifico, ideal si tienes
            necesidades financieras a corto plazo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hipoteca Inversa Unica</h2>
        <p>
            la hipoteca inversa unica te proporciona una
            suma global de dinero en un solo pago,
            ofreciendo flexibilidad para tus proyectos
            o gastos puntuales.
        </p>
    </div>
</div>

{% endblock %}
