{% extends "layout.html" %}

{% block content %}
<div class="main-container">
    <div class="register-container">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/register.css') }}" />
        <h2>{{ title }}</h2>
        {% if message %}
        <div class="message-box">
            <h3>{{ message }}</h3>
        </div>
        {% endif %}

        <form action="{{ url_for('register_user') }}" method="POST" class="centered-form">
            <div class="form-group">
                <input type="text" name="idusuario" placeholder="Ingrese su ID de usuario" required maxlength="10">
            </div>
            <div class="form-group">
                <input type="password" name="contrasena" placeholder="Ingrese su contrasena" required>
            </div>
            <div class="form-group">
                <input type="number" name="edad" placeholder="Ingrese su edad" required min="65" max="100">
            </div>
            <div class="form-group">
                <input type="text" name="nombre_usuario" placeholder="Ingrese su nombre de usuario" required>
            </div>
            <div class="form-group">
                <select name="genero" required>
                    <option value="">Selecciona tu genero</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
